*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;

    font-family: "Inter", sans-serif;
    background-color: #1F2937;
}

/* HEADER */

header {
    height: 90px;
    max-width: 100%;
    margin: 0;
    padding: 1.5em 1em;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.75em;

    background-color: #1F2937;

    position: relative;
    box-shadow: 0px 4px 11px rgba(0,0,0,0.15);
}

input[type="color"] {
    height: 42px;
    width: 60px;
    cursor: pointer;
}

select {
    height: 42px;
    flex-grow: 1;

    padding: 0.5em 0.75em;
    
    border-radius: 6px;
    border: 1px solid #D1D5DB; 
    background-color: #1F2937;

    color: #D5D4D8;
    font-size: 1rem;
    font-family: inherit;

    cursor: pointer;
}

button {
    height: 42px;
    padding: 1em;

    background-color: #3D4B60;
    border: none;
    border-radius: 4px;

    color: #fff;
    font-size: 0.75rem;
    font-family: inherit;
    cursor: pointer;
}

/* MAIN */

.colours {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.color {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.color-name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100px;
    padding: 0em 1.5em;

    background-color: #1F2937;

    color: #D5D4D8;
    font-size: 0.75rem;
    font-weight: 500;
    text-transform: uppercase;
}

/* MEDIA QUERIES */

@media (min-width: 769px) {
    header {
        max-width: 769px;
        margin: 0 auto;
    }

    .colours {
        margin: 0 auto;
        height: 400px;
        max-width: 769px;
        flex-direction: row;
        justify-content: space-between;
    }

    .color {
        height: 100%;
        width: 100%;
        flex-direction: column;
        justify-content: end;
    }

    .color-name {
        margin: 0;
        height: 46px;
        width: 100%;
    }
}